.bgyellow{background-color: yellow; width: 400px;}
.bgblue{background-color: blue; width: 400px;}
.red{color:red}
.sizelarge{font-size: x-large;}
.blue{background-color:purple}
.pink{background-color:pink}